page-requested {
	.cancel{
		margin-top: 10px;
		border-radius: 0;
	}
	table{
		width: 70%;
		color:#fff;
		text-align: left;
		tr{
			td{
				padding: 0.4em;
				padding-left: 1em;
			}
		}
	}
	p{
		padding-left: 1em;
		width: 100%;
	}
	.gold{
		color:gold;
	}
}
