
<ion-header>

  <ion-navbar color="primary">
    <ion-title>SIKKH</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="profile">
        <ion-avatar>
            <img src="assets/imgs/user.png">
            <!--image path for user <img src="assets/imgs/driver.png"> -->
        </ion-avatar>

        <input type="file" name="userpic" id="userpic" style="display: none;"
               accept="image/x-png, image/gif, image/jpeg"><label for="userpic"></label>

    </div>
<form #f="ngForm">
        <ion-grid>
            <ion-row>
                <h3 color="primary">
                    <span *ngIf="user.operation == BeforeLoginPage.loginCode">Welcome Back,<br></span>
                    Enter Your Password.</h3>
            </ion-row>
            <ion-row>
                <ion-col col-9>
                    <ion-input class="password" type="password" placeholder="password" name="password" required [(ngModel)]="user.password">
                    </ion-input>
                </ion-col>
               <ion-col col-3>
                   <button [disabled]="!f.valid" type="submit" item-right>
                       <ion-icon class="arrow"  ios="ios-arrow-round-forward" md="md-arrow-round-forward" (click)="gotomobile()" ></ion-icon>
                   </button>
               </ion-col>
            </ion-row>
            <ion-row>
                <a *ngIf="user.operation == BeforeLoginPage.loginCode"  ion-button clear style="margin-left: -16px;padding-top: 5px" (click)="forgetPassword()">Forget Password?</a>
            </ion-row>
  </ion-grid>
</form>
</ion-content>
