page-signup {
    ion-avatar {
        border: 1px solid white;
        width: 120px;
        border-radius: 46px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 43px;
    }
    .list-md {
        margin: 18px 0 16px 0;
    }
    .profile {
        margin-top: -40px;
        background-color: #390c2b;
        padding: 10px;
        width: 113%;
        margin-left: -19px;
    }
    .input-wrapper {
        // border: 1px solid #390c2b;
    }
    .arrow {
        font-size: 3.2em;
        margin-left: 7px;
        margin-right: auto;
        //margin-top: inherit;
        padding:5px;
       //position: absolute;
       // top: 45%;
       // left: 50%;

    }
    .sign{

        border-bottom: 2px solid #390c2b;

    }
    form{
        padding-top: 30px;

    }
    //button{align-content: center}
}
