page-signup {
ion-avatar {
    border: 1px solid white;
    width: 120px;
    border-radius: 46px;
    margin-left: 138px;
    margin-top: 43px;
}
    .list-md {
        margin: 18px 0 16px 0;
    }
    .profile {
        margin-top: -40px;
        background-color: #390c2b;
        padding: 10px;
        width: 420px;
        margin-left: -19px;
    }
    .input-wrapper {
        border: 1px solid #390c2b;
    }
    .arrow {
    font-size: 3.2em;
    margin-left: 42%;
    margin-top: inherit;
}
}
