<ion-header>

  <ion-navbar color="primary">

    <ion-title>Breakdown</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
    <div class="profile">
        <ion-avatar>
            <img *ngIf="this.user.type == BeforeSignupPage.userType"  src="assets/imgs/user.png">
            <img *ngIf="this.user.type == BeforeSignupPage.driverType" src="assets/imgs/driver.png">
        </ion-avatar>
        <input type="file" name="userpic" id="userpic" style="display: none;" accept="image/x-png, image/gif, image/jpeg">
        <label for="userpic"></label>
    </div>
    <form #f="ngForm">
        <ion-grid>
            <ion-row style="width:100%">
                <ion-list>
                    <ion-item>

                        <ion-input class="sign" type="text" placeholder="Firstname" name="firstname" ngModel required style="border-right:2px solid #390C2B ;"></ion-input>

                        <ion-input class="sign" type="text" placeholder="Lastname" name="lastname" ngModel required></ion-input>
                    </ion-item >
                </ion-list>
            </ion-row>
            <ion-row style="width:100%; background-color: white">
                <button [disabled]="!f.valid" type="submit" item-right style="width: 100%;background-color: white">
                    <ion-icon  class="arrow" color="primary"  ios="ios-arrow-round-forward" md="md-arrow-round-forward" (click)="gotoemail(f)" ></ion-icon>
                </button>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
