page-canceled {
	.cancel{
		margin-top: 10px;
		border-radius: 0;
	}
	table{
		width: 70%;
		color:#fff;
		text-align: left;
		tr{
			td{
				padding: 0.4em;
				padding-left: 1em;
			}
		}
	}
	.call{
		font-size: 54px;
		color:#fff;
		padding-left: 0.4em;
	}
	.whi{
		padding-left: 1em;
		width: 100%;

	}
	.wide{
		padding-left: 5em;
		padding-right: 5em;
		border-radius: 0;
		margin: 0 auto;
	}
	.hi{
		height: 130px!important;
	}
	.text-input{
		margin-top: 0;
		margin-bottom: 1.5em;
		padding: 1em;
		border:1px solid #390c2b;
	}
	.gold{
		color:gold;
	}
	.req{
		position: absolute;
		top: 0;
		border-radius: 0;
		left: 50%;
		top:50%;
  		transform: translate(-50%, -50%);
	}
}
