page-driver-car {
  ion-avatar {
    border: 1px solid white;
    width:97px;
    border-radius: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 31px;
  }
  .list-md {
    margin: 18px 0 16px 0;
  }
  .profile {
    margin-top: -40px;
    background-color: #390c2b;
    padding: 10px;
    width: 113%;
    margin-left: -19px;
    margin-bottom: 30px;
  }

  .arrow {
    font-size: 2.2em;
    margin-top: -7px;
    background-color: #390c2b;
    color: white;
    width: 63%;
    padding-top: 4px;
    height: 109%;
    border: 1px solid #390c2b;
    border-radius: 100%;
    padding-left: 17%;
    padding-bottom: 6px;
  }
  .signbord{
    border-bottom: 3px solid #390c2b;
    text-align: center;
  }
  span{
    display: block;
    text-align: center;
    font-size:1em;
  }
}
