page-before-login {
  ion-avatar {
    border: 1px solid white;
    width: 100px;
    border-radius: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 31px;
  }
  .list-md {
    margin: 18px 0 16px 0;
  }
  .profile {
    margin-top: -40px;
    background-color: #390c2b;
    padding: 10px;
    width: 113%;
    margin-left: -19px;
  }
  .btn{
    border : 1px solid #390c2b;
  }
}
