page-before-signup {
ion-card{
        border: 1px solid #390c2b,
;
}
ion-row.row {
    margin-left: 63px;
}
img.driverimg {
    padding-left: 38px;
}
span.user {
    margin-left: 23px;
    font-size: large;
    font-weight: 500;
    color: #390c2b;
}
span.driver {
    margin-left: 94px;
    font-size: large;
    font-weight: 600;
    color: #390c2b;
}
}
