page-driver-id {
  ion-avatar {
    border: 1px solid white;
    width: 100px;
    border-radius: 64px;
    margin-left: 138px;
    margin-top: 31px;
  }
  .list-md {
    margin: 18px 0 16px 0;
  }
  .profile {
    margin-top: -40px;
    background-color: #390c2b;
    padding: 10px;
    width: 420px;
    margin-left: -19px;
  }
  hr {
    height: 2px;
    border-width: 0;
    box-sizing: content-box;
    background-color: #390c2b !important;
  }
  .arrow {
    font-size: 3.2em;
    margin-left: 42%;
    margin-top: inherit;
  }
}
