page-lang {
	.cc{
		background-color: #390c2b;
	}
	.img{
		position: absolute;
		width: 100%;
		top:50%;
		left: 50%;
  		transform: translate(-50%, -50%);
	}
	.langbtn{
		background-color: transparent;
		padding: 1em 0.5em;
		border:1px #fff solid;
		color:#fff;
		font-size: 20px;
		border-radius: 5px;
		display: inline;
	}
	.langbtn.c{
		margin: 0 1em;
	}
}
