<!--
  Generated template for the DriverId page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>SIKKH</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <div class="profile">
    <ion-avatar>
      <img src="assets/imgs/driver.png">
    </ion-avatar>

    <input type="file" name="userpic" id="userpic" style="display: none;" accept="image/x-png, image/gif, image/jpeg">
    <label for="userpic"></label>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-9>
        <h5 color="primary">Add Car License Photo.</h5>
      </ion-col>
      <ion-col col-3>
        <ion-icon class="arrow" color="primary"  ios="ios-arrow-round-forward" md="md-arrow-round-forward" [navPush]="pushPage" [navParams]="user" item-right>
        </ion-icon>
      </ion-col>
     </ion-row>
    <ion-row>
      <ion-col class="signbord" style="border-right: 3px solid #390c2b ;">
        <span>Front</span>
        <img src="assets/imgs/camera.png" (click)="takeFrontImage()">
      </ion-col>
      <ion-col class="signbord">
        <span>Back</span>
        <img src="assets/imgs/camera.png" (click)="takeBackImage()">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img [src]="car_licence_front" *ngIf="car_licence_front">
      </ion-col>
      <ion-col>
        <img [src]="car_licence_back" *ngIf="car_licence_back">
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
