page-estimate {
	.from-to{
		background-color: #390c2b;
		color:#fff!important;
		padding: 7px;
		padding-right: 0!important;
		margin: 0;
	}
	.fromto{
		margin-bottom: 10px;
		padding: 0;
	}
	.label{
		width: 30px;
		background: #390c2b;
		margin: 3px;
		height: 34px;
		text-align: center;
		vertical-align: middle;
		line-height: 34px;
		color:#fff;
	}
	.input-wrapper,.item-inner{
		padding: 0;
		margin: 0;
	}
	.item-inner{
		padding: 0!important;
		margin: 0!important;
		overflow: hidden;
	}
	.req{
		position: absolute;
		bottom: 10px;
		border-radius: 0;
		left: 50%;
  		transform: translate(-50%, -0%);
	}
}
