page-mobile-page {
  ion-avatar {
    border: 1px solid white;
    width: 100px;
    border-radius: 46px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
  }
  .list-md {
    margin: 18px 0 16px 0;
  }
  .profile {
    margin-top: -40px;
    background-color: #390c2b;
    padding: 10px;
    width: 113%;
    margin-left: -19px;
  }
  .input-wrapper {
    border: 1px solid #390c2b;
  }
  .arrow {
    font-size: 2.2em;
    margin-top: inherit;
    position: absolute;
    right: 10px;
    top: 20px;
    background-color: #390c2b;
    color: white;
    width: 58%;
    padding-top: 7px;
    height: 82%;
    border: 1px solid #390c2b;
    border-radius: 100%;
  }
  .grid {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: inherit;
    padding-top: 40px;
  }
  ion-textarea {
    position: relative;
    display: block;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    border: 1px solid #390c2b;
  }
.mobile{
    border-bottom: 3px solid #390c2b;
}
  .btn{
    position: absolute;
    right:10px;
    top: 30px;
    background-color: white;

  }
}
