page-mobile-page {
ion-avatar {
    border: 1px solid white;
    width: 120px;
    border-radius: 17px;
    margin-left: 77px;
    margin-top: 46px;
}
span.button-inner {
    margin-top: -64px;
}
.title {
    padding-right: 12px !important;
    margin-top: 21px;
}
.profile {
    margin-top: -31px;
}
.arrow {
  display: inline-block;
    font-size: 2.2em;
    margin-right: 52px;
    margin-top: 4px;
}
.mobile{
    border-bottom: 1px solid #390c2b;
}
}
